<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @asset.address %>
</p>

<p>
  <strong>Assettype:</strong>
  <%= @asset.assetType %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
